@import './monitor/monitor.css';
@import './console/console.css';
@import './inspector/inspector.css';
@import './dump/dump.css';

#debugger {
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50vh 50vh;
}

.debugger__quadrant__title {
    font-size: large;
    font-weight: bold;
}