@import "./app/app.css";

* {
    box-sizing: border-box;
    background-color: black;
    color: lightskyblue;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
}
button:hover {
    background-color: rgb(75, 75, 125);
}