#monitor {
    display: inline-flex;
    flex-direction: column;
}

#monitor__toolbar {
    width: 100%;
}

#monitor__display {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.monitor__display__line {
    width: 100%;
    background-color: black;
}
.monitor__display__line * {
    background-color: unset;
}
.monitor__display__line.active {
    background-color: rgb(100, 70, 130) !important;
}

.monitor__display__line__address {
    display: inline-block;
    width: 60px;
}

.monitor__display__line__mnemonic {
    display: inline-block;
    width: 240px;
}

.monitor__display__line__word {
    display: inline-flex;
}
.monitor__display__line__word > * {
    margin-right: 4px;
}